doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="language",content="en")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(href="/css/bootstrap.min.css",rel="stylesheet",media="screen")
        link(href="/css/jquery.custom-scrollbar.css",rel="stylesheet",media="screen")
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/loading-bar.min.css')
        style(type="text/css").
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }

        script.
            window.appConfig = !{JSON.stringify(appConfig)}

    body(ng-controller="AppController")
        .container

            .header
                ul(class="nav nav-pills pull-right",ng-cloak)
                    li
                        a#menu-home(href="/")
                            span(class="glyphicon glyphicon-home")
                    li
                        a#menu-login(href="/login",access-level="accessLevels.anon") Login
                    li
                        a#menu-mgmnt(href="/management",access-level="accessLevels.admin")
                            span(class="glyphicon glyphicon-cog")
                            span.user-name Management
                    li
                        a#menu-profile(href="/profile",access-level="accessLevels.user")
                            span(class="glyphicon glyphicon-user")
                            span.user-name {{user.name}}
                    li
                        a#menu-logout(href="/logout",ng-click="logout()",access-level="accessLevels.user")
                            span(class="glyphicon glyphicon-log-out")

                div.logotype
                    a(href="/")
                        img(src="/img/boobsgram.png")

            block content

            if (showAdultWarning)
                adult-warning

        script(type="text/javascript").
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter21496993 = new Ya.Metrika({id:21496993,
            webvisor:true,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true});
                } catch(e) { }
                });
                    var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src="//mc.yandex.ru/watch/21496993",style="position:absolute; left:-9999px;",alt="")

        script(data-main="/js/app",src="/libs/require.min.js")