<!DOCTYPE html>
<html lang="en">
<head><title>Nodify - Сервис для публикации NodeJS приложений</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/styles.css" rel="stylesheet">
    <style type="text/css">[ng\:cloak], [], [data-], [x-], ., .x- {
        display: none !important;
    }
    </style>
</head>
<body>

<div class="container">
    <div class="well well-header">
        <div class="row">
            <div class="col-md-4 header">Nodify</div>
            <div  class="col-md-8 text-right top-menu">
            </div>
        </div>
    </div>
</div>
<div id="page" class="container">
    <div class="rc-view">

        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>Публикация NodeJS</h1>
            <p class="lead">Быстрое развертывание приложений, написанных на NodeJS. Следите за нашим твиттером!</p>
            <p><a href="https://twitter.com/nodify_ru" class="twitter-follow-button" data-show-count="false" data-lang="ru" data-size="large">Читать @nodify_ru</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        </div>

    </div>
    <div class="clear"></div>
    <div  class="footer"><p>&copy; Сервис разработан в&nbsp;<a href="//appsmobile.ru"
                                                                       target="_blank">AppsMobile</a>, 2014</p></div>
</div>
<script data-main="js/app" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>